{% extends 'base.html' %}

{% block content %}

    <style>
        .memohub-form {
            margin: 50px auto;
            width: 50%;
        }
        .memohub-form input {
            display: block !important;
            width: 100% !important;
            padding: 0.375rem 0.75rem !important;
            font-size: 1rem !important;
            line-height: 1.5 !important;
            color: #495057 !important;
            background-color: #fff !important;
            background-clip: padding-box !important;
            border: 1px solid #ced4da !important;
            border-radius: 0.25rem !important;
            transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out !important;
        }
        .memohub-form input:focus {
            color: #495057 !important;
            border-color: #80bdff !important;
            outline: 0 !important;
            box-shadow: 0 0 0 0.2rem rgb(0 123 255 / 25%) !important;
        }
        .memohub-form label {
            display: inline-block !important;
            margin-bottom: 0.5rem !important;
            margin-top: 2rem !important;
            font-size: 20px;
        }
        .memohub-form button {
            font-size: 30px;
        }
        .memohub-form a,
        .memohub-form a:focus,
        .memohub-form a:hover {
            color: orange;
        }
        .memohub-form a:visited {
            color: #cf8909;
        }
        .memohub-form .helptext {
            color: rgba(102, 87, 51, 0.8);
        }
    </style>
    <h1>Add</h1>
    <hr>

    <div class="container memohub-form-wrapper">
        <form class="memohub-form d-flex flex-column justify-center"
              action="{% url 'addmem' %}" method="post">
            {{ form }}
            {% csrf_token %}
            <div class="m-auto my-3">
                <button type="submit" class="btn btn-warning">Add</button>
            </div>
        </form>
    </div>

{% endblock %}