{% extends 'base.html' %}

{% block content %}
{% load static %}
    <h1>Add</h1>
    <hr>

    <div class="container memohub-form-wrapper">
        <link href="{% static 'static_files/static/css/styles.css' %}" rel="stylesheet">
        <form class="memohub-form d-flex flex-column justify-center"
              action="{% url 'addmem' %}" method="post">
            {{ form }}
            {% csrf_token %}
            <div class="m-auto my-3">
                <button type="submit" class="btn btn-warning">Add</button>
            </div>
        </form>
    </div>

{% endblock %}