{% extends 'base.html' %}

{% block content %}
    <nav class="navbar navbar-expand-lg" style="border: 2px solid black;">
        <h3 class="px-2">Feeds</h3>
    </nav>

    <div class="container my-3">
        <div class="row">

            {% for mem in page_obj %}
            <div class="my-1 col-4">
                <div class="card w-100 h-100">
                    <a href="" data-bs-toggle="modal" data-bs-target="#mem-modal" data-mem-url="{{ mem.url }}">
                        <img src="{{ mem.url }}" class="card-img-top" alt="...">
                    </a>
                    <div class="card-body">
                        <p class="card-text">{{ mem.description }}</p>
                        <p class="card-text">Added by: <b>
                            <a href="{% url 'yourmemes' author=mem.user %}">{{ mem.user }}</a>
                        </b></p>
                    </div>
                </div>
            </div>
            {% endfor %}

        </div>
    </div>

<div class="modal" id="mem-modal" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <img src="" id="id-mem-url" alt="..." style="width: 700px">
            </div>
        </div>
    </div>
</div>

<div class="pagination">
    <span class="step-links">
        {% if page_obj.has_previous %}
            <a href="?page=1">&laquo; first</a>
            <a href="?page={{ page_obj.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
        </span>

        {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}">next</a>
            <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
        {% endif %}
    </span>
</div>

{% endblock %}

{% block scripts %}
    {{ block.super }}
    <script>
        $('#mem-modal').on('show.bs.modal', function(e) {
	        var url = $(e.relatedTarget).data('mem-url');
            var image = document.getElementById("id-mem-url");
            image.src = url;
	    });
    </script>
{% endblock %}
