{% extends 'base.html' %}

{% block content %}
{% load static %}

<nav class="navbar navbar-expand-lg" style="border: 2px solid black;">
     <h3><div class="px-3 dropdown">
        <button style="background: white; border: none" class="btn btn-light btn-lg dropdown-toggle" type="button" id="dropdownMenuButton1"
                data-bs-toggle="dropdown" aria-expanded="false">
            {% if 'following_feed' in request.path %}
                Following feed
            {% else %}
                Feed
            {% endif %}
        </button>
        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
            {% if 'following_feed' in request.path %}
                <li><a class="dropdown-item" href="{% url 'home' %}">Feed</a></li>
            {% else %}
                <li><a class="dropdown-item" href="{% url 'following_mem' %}">Following feed</a></li>
            {% endif %}
        </ul>
    </div></h3>
</nav>

    <div class="container my-3">
        <div class="row">

            {% for mem in page_obj %}
                <div class="my-1 col-4">
                    <div class="card w-100 h-100">
                        <a href="" data-bs-toggle="modal" data-bs-target="#mem-modal" data-mem-url="{{ mem.url }}">
                            <img src="{{ mem.url }}" class="card-img-top" alt="...">
                        </a>
                        <div class="card-body">
                            <p class="card-text">{{ mem.description }}</p>
                            <p class="card-text">Added by: <b>
                                <a style="color: black" href="{% url 'yourmemes' author=mem.user %}">{{ mem.user }}</a>
                            </b></p>
                        </div>
                        {% if user.is_authenticated %}
                            <form action="{% url 'mem_like' mem.id %}" method="POST" >
                                {% csrf_token %}

                                {% if mem.post_is_liked %}
                                    <button style="float: right; background: white; border: none" type="submit" name="mem_id" value="{{ mem.id }}">
                                       <h4>{{ mem.number_of_likes}}</h4>
                                           <i style="font-size: 30px; color: black" class="fa-solid fa-heart-circle-minus " ></i>
                                    </button>
                                {% else %}
                                    <button style="float: right; background: white; border: none" type="submit" name="mem_id" value="{{ mem.id }}">
                                        <h4>{{ mem.number_of_likes}}</h4>
                                            <i style="font-size: 30px; color: orange" class="fa-solid fa-heart"></i>
                                    </button>
                                {% endif %}
                            </form>
                        {% else %}
                            <a style="color: black; text-decoration: none" class="btn btn-warning" href="{% url 'login' %}?next={{ request.path }}">Log in to
                                like this mem!</a><br>
                        {% endif %}

                    </div>
                </div>
            {% endfor %}

        </div>
    </div>

    <div class="modal" id="mem-modal" tabindex="-1" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <img src="" id="id-mem-url" alt="..." style="width: 700px">
                </div>
            </div>
        </div>
    </div>

    <div class="pagination">
    <span class="step-links">
        {% if page_obj.has_previous %}
            <a href="?page=1">&laquo; first</a>
            <a href="?page={{ page_obj.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
        </span>

        {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}">next</a>
            <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
        {% endif %}
    </span>
    </div>

{% endblock %}

{% block scripts %}
    {{ block.super }}
    <script>
        $('#mem-modal').on('show.bs.modal', function (e) {
            var url = $(e.relatedTarget).data('mem-url');
            var image = document.getElementById("id-mem-url");
            image.src = url;
        });
    </script>
{% endblock %}
