{% extends 'base.html' %}

{% block content %}
    <nav class="navbar navbar-expand-lg" style="border: 2px solid black;">
        <div class="container">
                <div class="col-8">
                    <h3 class="px-2">{% if request.user == author %}Your memes {% else %}
                        <b>{{ author.username }}</b> memes{% endif %}</h3>
                </div>
                <div class="col-4" style="display: contents">
                    <a class="px-3" href="{% url 'user_followers_list' author=author %}">
                        {{ author_followers_count }} followers
                    </a>
                    <a class="px-3" href="{% url 'user_following_list' author=author %}">
                        {{ author_following_count }} following
                    </a>
                    {% if request.user != author %}
                        <form action="{% url 'user_follow_unfollow' author=author %}" method="post" class="px-3">
                            {% csrf_token %}
                                {% if user in author_followers %}
                                <button type="submit" class="btn btn-dark">
                                    Unfollow
                                </button>
                                {% else %}
                                <button type="submit" class="btn btn-warning">
                                    Follow
                                </button>
                                {% endif %}
                        </form>
                    {% endif %}
                </div>
        </div>
    </nav>
    <style>
        .button-style{
          background-color: Transparent;
          border: none;
          cursor:pointer;
        }
        .btn-warning {
          background-color: orange !important;
    }
    </style>

    {% if user.is_authenticated %}
    <div class="container my-3">
        <div class="row">

            {% for mem in page_obj %}
            <div class="my-1 col-4">
                <div class="card w-100 h-100">
                    <img src="{{ mem.url }}" class="card-img-top" alt="...">
                    <div class="card-body d-flex">
                        <p class="card-text" style="width: 80%; margin-right: 1.5em">{{ mem.description }}</p>
                        {% if request.user == author %}
                        <a href="{% url 'editmem' mem_id=mem.id %}" >
                            <i style="font-size: 22px; color:black" class="fa-solid fa-pencil"></i>
                        </a>
                        <form action="{% url 'deletemem' mem_id=mem.id %}" method="post">
                            {% csrf_token %}
                            <button type="submit" class="button-style">
                                <i style="font-size: 25px; color: orange" class="fa-regular fa-trash-can"></i>
                            </button>
                        </form>
                        {% endif %}
                    </div>
                </div>
            </div>
            {% empty %}
                <div style="text-align: center">
                    {% if request.user == author %}
                        <img src="https://i.pinimg.com/originals/91/a4/81/91a481cab466f2d5493970f4fff266a2.webp" style="width: 60%; margin: 10px">
                        <a href="{% url 'addmem' %}" type="button" class="btn btn-warning btn-lg">
                            <h2>Hurry up, add a mem!</h2>
                        </a>
                    {% else %}
                        <p>So sad, user has no memes :(</p>
                    {% endif %}
                </div>
            {% endfor %}

        </div>
    </div>

<div class="pagination">
    <span class="step-links">
        {% if page_obj.has_previous %}
            <a href="?page=1">&laquo; first</a>
            <a href="?page={{ page_obj.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
        </span>

        {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}">next</a>
            <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
        {% endif %}
    </span>
</div>

    {% else %}
        Please login to continue
    {% endif %}

{% endblock %}